body {
    margin:0;
    padding:0;
    width: 100vw;
    /*min-width: 100%;*/
    height: 100vh;
    /*min-height: 100%;*/
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    display:flex;
    flex-direction:column;
}

@media (min-width: 1300px) {
    body {
        font-size: 16px;
    }
  }
  
@media (max-width: 850px) {
    body {
        font-size: 12px;
    }
}

#navbar-top {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#navbar-top .padding {
    padding: 10px;
}

#navbar-top #account img {
    width:45px;
    height: 45px;
}

#navbar-top a {
    color: black;
    text-decoration-line: none;
}

#navbar-top a:hover {
    text-decoration-line: underline;
}

#navbar-top #apps img {
    width: 30px;
    height: 30px;
    opacity: 0.7;
    border: 7px solid transparent;
}

#navbar-top #apps img:hover {
    border-radius: 50%;
    background-color: rgb(220, 220, 220, 0.9);
    border: 7px solid rgb(220, 220, 220, 0.9);
  }

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; 
    /*Setting flex-grow: 1 on main-content makes it grow to 
    fill the available space. This puts the footer at the 
    bottom, since main-content takes up all the space in the middle.*/
}

#google-logo {
    padding: 5px 0px 5px 0px;
}

@media (max-width: 850px) {
    #google-logo {
        padding-top: 10px;
    }

    #google-logo img {
        max-width: 70vw;
    }
  }

#search-bar {
    width: 50%;
    padding: 17px 0px 17px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

@media (max-width: 850px) {
    #search-bar {
        width:80%;
    }
}

@media (min-width: 1300px) {
    #search-bar {
        width:40%;
    }
  }

#search-bar #query {
    width: 90%;
    height: 46px;
    border-radius: 25px;
    border: 1px solid rgb(220, 220, 220, 0.9);
    padding-left: 10px;
    font-size: 17px;
}

#search-bar #query:focus {
    outline: none;
}

#search-bar #query:hover {
    box-shadow: 1px 2px 1px rgba(190, 190, 190, 0.432);
}

#main-button {
    padding: 28px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

#main-button #button1 {
    margin-right: 10px;
}

#main-button #button2 {
    margin-left: 10px;
}

#main-button button {
    width: 130px;
    height: 37px;
    border: none;
    font-size: 14px;
    background-color: rgb(245, 245, 245);
    color: rgba(0, 0, 0, 0.801);
}

#main-button button:hover {
    border: 1px solid rgb(128, 128, 128, 0.3);
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(190, 190, 190, 0.432);
    cursor: pointer;
}

#main-button button:focus {
    outline:none;
}

#languages {
    padding: 10px 0px 0px 0px;
}

#languages a {
    padding-left: 10px;
    color: blue;
    text-decoration-line: none;
}

#languages a:hover {
    text-decoration-line: underline;
}

#footer-bottom {
    background-color: rgb(206, 206, 206, 0.3);
}

#country {
    font-size: 14px;
    color: rgba(116, 116, 116, 0.801);
    margin: 14px 30px 14px 30px;
}

#footer-bottom #line-footer {
    height: 1px;
    background-color: rgb(206, 206, 206, 0.7);
    border: none;
}

#footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-nav {
    font-size: 13px;
    margin: 14px 30px 14px 30px;
}

#footer-nav a {
    color: rgba(116, 116, 116, 0.801);
    text-decoration-line: none;
}

#footer-nav a:hover {
    text-decoration-line: underline;
}

#nav-left {
    display: flex;
    flex-wrap: wrap;
}

#nav-left a {
    margin-right: 30px;
}

#nav-right a {
    margin-left: 30px;
}

@media (min-width: 1300px) {
    #country {
        font-size: 15px;
    }

    #footer-nav {
        font-size: 15px;
    }
  }

@media (max-width: 850px) {
    #footer-nav {
        flex-direction: column;
    }

    #nav-left, #nav-right {
        display: flex;
        justify-content: center;
    }

    #nav-left a {
        margin: 5px 20px 5px 20px;
    } 
    
    #nav-right a {
        margin: 5px 20px 5px 20px;
    }
}